.banner {
   background-image: url("../../images/images.jpeg");
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
    height: 100vmin;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
}

.banner h1{
    margin: 3vmax;
    font-weight: 600;
    font-size: 3vmax;
    font-family:'Courier New', Courier, monospace;
}

.banner p{
    font-weight: 400;
    font-size: 2vmax;
    font-family: monospace;
}

.banner a button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid black;
    outline: none;
    border-radius: 5rem;
    padding: 1vmax;
    transition: all 0.5s;
    width: 12vmax;
    font-weight: 500;
    font-size: 2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner a button:hover{
    background-color: rgb(155, 146, 146);
    color: #fff;
}

.banner::after {
    content: " ";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
    max-width: 100%;
}


.homeHeading{
    text-align: center;
    font-family: monospace;
    font-size: 2.9vmax;
    border-bottom: 1px solid rgba(21, 21, 21,0.5);
    width: 30vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgba(0,0,0,0.7);
}

.productCard{
    width:20vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48,48,48);
    align-items: center;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard img {
    width: 15vmax;
    align-items: center;
}

.productCard .flex{
    display: flex;
    flex-direction: column;
}

.productCard .star{
    padding: 0px;
}

.productCard .reviews span{
    font-size: 2vmax;
}
.productCard div span{
    margin: 0.5vmax;
    font-weight: 700;
    font-size: 1.4vmax;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}

.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
}

.productCard p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vmax;
    margin: 2vmax 1.2vmax;
    margin-bottom: 0;
}



.productCard span{
    margin: 0.5vmax 0.5vmax;
    color: tomato;
    font-family:monospace;
    font-size: 2.5vmax;
}

.productCard:hover{
    box-shadow: 0 0 3px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
}

@media screen and (max-width: 511px) {
    .productCard .star{
        font-size: 0.5vmax;
        padding: 0%;
    }
}




@media screen and (max-width: 600px) {

    .productCard{
        width:20vmax;
        margin-right: 0px;
    }

    .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard .star {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
  }


